@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
/* сюди написати марджин 0 і мак - ширина*/
  font-family: "Roboto", sans-serif;
  background-image: url(../imag/background.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1028px;
}

.container-logo {
  display: flex;
}
.link_logo {
  margin-top: 51px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img:hover,
.link_logo:hover {
  filter: contrast(1.3) sepia(100%);
  filter: invert(47%) sepia(96%) saturate(6567%) hue-rotate(9deg)
    brightness(104%) contrast(105%);
}

.link_text {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.link_text:hover {
  color: #f26522;
}

.text-logo {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.milan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  width: 140px;
}

.holidays {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 140px;
}

.contact-info {
  margin-top: 51px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.imag-grid {
  display: grid;
  margin-top: 17px;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 220px);
  row-gap: 74px;
  column-gap: 62px;
}
.imag-item {
  position: relative;
}
.img {
  border-left: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(to bottom, black, white) 1;
}
.overlay {
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 16px;
  display: flex;
  position: relative;
  width: 304px;
  bottom: 62px;
  background-color: #f26522;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.imag-item:hover .overlay {
  opacity: 1;
 
}

.text-price {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
.price {
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
}
.text-veiw {
  display: flex;
  margin-left: 128px;
  align-items: end;
}
.veiw {
  font-size: 14px;
  line-height: 14px;
  position: relative;
}
.overlay::after {
  content: "❭";
  position: absolute;
  top: 45%;
  right: 16px;
  font-weight: bold;
}
.caption {
  position: absolute;
  top: 241px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  width: 300px;
  text-align: center;
}
.footer_text {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
